<body>
    <nav class="navbar navbar-light bg-light border-bottom justify-content-between flex-column flex-lg-row sticky-top">
      <div class="d-flex">
        <h3>Slogan</h3><span>Test</span>
      </div>  
      <div class="navbar-top-wrap">
          <ul class="nav nav-header">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/user/cadastro" class="nav-link">Cadastrar</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
          </ul>
        </div>
        <div>
          <a class="btn btn-outline-success me-3" role="button" href="/login">Login</a>
        </div>
      </nav>
</body>