<%- include("../parciais/head.ejs") %>

<body>

    <% if(erro){ %>
        <div class="alert alert-danger" role="alert">
            <%= erro %>
        </div>
    <% } %>

    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 25rem;">
        <form class="card-body mt-4" method="POST" action="/logar">
            <div class="mb-3">
                <label for="email" class="form-label">Endereço de Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Insert your email here!"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Insert your password here!">
            </div>
            <div class="row">
                <button type="submit" class="col-8 mx-auto btn btn-primary">Submit</button>
                <a class="col-8 mx-auto btn btn-danger mt-3" type="button" href="/">Cancel</a>
            </div>
        </form>
    </div>
</body>
